<aside class="sidebar-container no-display" id="sidebar">
  <!-- <div class="close" id="close"><i class="material-symbols-outlined fw-bolder fs-2"> close </i></div> -->
  <nav class="items-container">
    <ul class="link-items">
      <li class="items <%= currentPage === '/' ? 'active-li' : '' %>">
        <a href="/">Home</a>
      </li>
      <li class="items <%= currentPage === '/movies' ? 'active-li' : '' %>">
        <a href="/movies">Movies</a>
      </li>
      <li class="items <%= currentPage === '/tvseries' ? 'active-li' : '' %>">
        <a href="/tvseries">Tv Series</a>
      </li>
      <li class="items <%= currentPage === '/toprated' ? 'active-li' : '' %>">
        <a href="/toprated">Top Rated</a>
      </li>
      <% if(currentUser){%>
      <li class="items <%= currentPage === '/wishlists' ? 'active-li' : '' %>">
        <a href="/wishlists">Wishlists</a>
      </li>
      <li class="items <%= currentPage === '/watchlists' ? 'active-li' : '' %>">
        <a href="/watchlists">Already Seen</a>
      </li>
      <% }%>
    </ul>
  </nav>
</aside>
