<%- layout("/layouts/boilerplate2.ejs") %>

<header class="upcoming-series">
  <div class="hamburger-menu" id="hamburger">
    <i class="material-symbols-outlined icon-size hamburger-item"> menu </i>
  </div>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <h1 class="top">Upcoming Series</h1>
      <% for (let i = 0; i < data1.length; i++) { %>
      <div
        class="carousel-item <%= i === 0 ? 'active' : '' %>"
        data-bs-interval="3000"
      >
        <img
          src="https://image.tmdb.org/t/p/original<%= data1[i].poster_path %>"
          class="d-block w-100 image"
          alt="..."
        />
        <div class="button-container">
          <form action="/addtowishlist" method="post" class="form mx-4" enctype="multipart/form-data">
            <input
            type="text"
            class="d-none"
            name="Movie_id"
            id=""
            value="<%= data1[i].id %>"
          />
          <input
            type="text"
            class="d-none"
            name="MovieName"
            id=""
            value="<%= data1[i].name %>"
          />
          <input
            type="text"
            class="d-none"
            name="Poster_path"
            id=""
            value="<%= data1[i].poster_path%>"
          />
            <button class="button fw-bolder d-flex">
              <span class="material-symbols-outlined"> add </span>
              Wishlist
            </button>
          </form>

          <form action="" class="form mx-4">
            <button class="button fw-bolder d-flex">
              <span class="material-symbols-outlined"> star </span>
              Review
            </button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="search-container">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search movie"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <button class="button" type="button" id="button-addon2">Search</button>
    </div>
  </div>
</header>

<section class="trending-series py-2 px-2">
  <h1>Trending This Week</h1>
  <div class="content-container d-flex flex-wrap" id="content-container">
    <% for(let i = 0; i < trendingSeries.length; i++) {%>
    <div class="card mx-auto mb-3" style="width: 16rem">
      <img
        src="https://image.tmdb.org/t/p/original<%= data2[i].poster_path %>"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text"><%= trendingSeries[i].overview %></p>
      </div>

      <form action="" class="card-details mb-3">
        <button class="details-button">Show details</button>
      </form>

      <form action="" class="card-review">
        <button class="card-review-button">Review</button>
      </form>
    </div>
    <% }%>
  </div>

  <div class="d-flex justify-content-center align-items-center w-100">
    <button class="button shadow fw-bolder" id="load-more">Load More</button>
  </div>
</section>
<script>
   const key = '<%-process.env.movieKey %>';
  const data2 = <%- JSON.stringify(data2) %>;
  const trendingSeries = <%- JSON.stringify(trendingSeries) %>;
  const totalItems = <%- totalItems %>;
  const items_per_page = <%- items_per_page %>;
</script>
<script src="/Javascripts/tvseries.js"></script>
