<%- layout("/layouts/boilerplate2.ejs") %>
<link rel="stylesheet" href="/styles/ratings/rating.css" />

<header class="wishlists">
  <div class="hamburger-menu" id="hamburger">
    <i class="material-symbols-outlined icon-size hamburger-item"> menu </i>
  </div>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <h1 class="top">Recently Added</h1>
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          src="<%= data1.Poster_path 
      && data1.Poster_path !== null
    && data1.Poster_path
    !== '' ? 
    'https://image.tmdb.org/t/p/original' + data1.Poster_path
    : '/images/no-img.jpg' %>"
          class="d-block w-100 image"
          alt="movie-poster"
        />
        <div class="button-container">
          <form
            action="/remove_fromwishlist"
            method="post"
            class="form mx-4"
            enctype="multipart/form-data"
          >
            <input
              type="text"
              class="d-none"
              name="Movie_id"
              id=""
              value="<%= data1.Movie_id %>"
            />
            <input
              type="text"
              class="d-none"
              name="MovieName"
              id=""
              value="<%= data1.MovieName %>"
            />
            <input
              type="text"
              class="d-none"
              name="Poster_path"
              id=""
              value="<%= data1.Poster_path %>"
            />
            <button class="button fw-bolder d-flex">
              <span class="material-symbols-outlined"> delete </span>
              Remove
            </button>
          </form>

          <div class="form mx-4">
            <button
              class="button fw-bolder d-flex"
              data-bs-toggle="modal"
              data-bs-target="#wishlist-header-review"
              data-bs-whatever="@getbootstrap"
              id="review-button"
            >
              <span class="material-symbols-outlined"> star </span>
              Review
            </button>

            <!-- modal for review -->
            <div
              class="modal fade"
              id="wishlist-header-review"
              tabindex="-1"
              aria-labelledby="wishlists-review-h"
              aria-hidden="true"
            >
              <form
                action="/add_review"
                method="post"
                class="modal-dialog"
                enctype="multipart/form-data"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="wishlists-review-h">
                      Write a review for <%= data1.MovieName %>
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="movie_id">Movie id</label>
                        <input
                          class="form-control"
                          type="text"
                          name="Movie_id"
                          value="<%= data1.Movie_id %>"
                          readonly
                          id="movie_id"
                        />
                      </div>

                      <div class="mb-3 d-none">
                        <label for="movieName">Movie name</label>
                        <input
                          class="form-control"
                          type="text"
                          name="Movie_name"
                          value="<%= data1.MovieName %>"
                          readonly
                          id="movie_name"
                        />
                      </div>

                      <div class="mb-3">
                        <label for="movie_description">Movie description</label>
                        <input
                          class="form-control"
                          type="text"
                          name="Movie_description"
                          value="<%= data1.Movie_description %>"
                          readonly
                          id="movie_description"
                        />
                      </div>
                      <div class="mb-3 d-none">
                        <label for="movie_poster">Movie poster</label>
                        <input
                          class="form-control"
                          type="text"
                          name="Movie_poster"
                          value="<%= data1.Poster_path %>"
                          readonly
                          id="movie_poster"
                        />
                      </div>

                      <div class="mb-3">
                        <fieldset class="starability-grow">
                          <legend>rating:</legend>
                          <input
                            type="radio"
                            id="no-rate"
                            class="input-no-rate"
                            name="rating"
                            value="1"
                            aria-label="No rating."
                            max="5"
                          />

                          <input
                            type="radio"
                            id="rate1"
                            name="rating"
                            value="1"
                            checked
                          />
                          <label for="rate1">1 star.</label>

                          <input
                            type="radio"
                            id="rate2"
                            name="rating"
                            value="2"
                          />
                          <label for="rate2">2 stars.</label>

                          <input
                            type="radio"
                            id="rate3"
                            name="rating"
                            value="3"
                          />
                          <label for="rate3">3 stars.</label>

                          <input
                            type="radio"
                            id="rate4"
                            name="rating"
                            value="4"
                          />
                          <label for="rate4">4 stars.</label>

                          <input
                            type="radio"
                            id="rate5"
                            name="rating"
                            value="5"
                          />
                          <label for="rate5>">5 stars.</label>

                          <span class="starability-focus-ring"></span>
                        </fieldset>
                      </div>

                      <div class="mb-3">
                        <label for="message-text" class="col-form-label"
                          >Comment:</label
                        >
                        <textarea
                          class="form-control"
                          id="message-text"
                          name="comment"
                          placeholder="Enter comment"
                        ></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button class="btn btn-success">Drop Review</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="search-container">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="movie_name"
        id="search"
        placeholder="Search your wishlist"
        aria-label="movie-search"
        aria-describedby="button-addon2"
      />
      <button class="button" type="button" id="button-addon2">Search</button>
    </div>
  </div>
</header>

<% if(initialData && initialData.length > 0) {%>
<section class="wishlists py-2 px-2">
  <h1>More</h1>
  <div class="content-container d-flex flex-wrap" id="content-container">
    <% for(let i = 0; i < initialData.length; i++) {%>
    <div class="card mx-auto my-4 px-4 py-2" style="width: 16rem">
      <img
        src="<%= initialData[i].Poster_path 
      && initialData[i].Poster_path !== null
    && initialData[i].Poster_path
    !== '' ? 
    'https://image.tmdb.org/t/p/original' + initialData[i].Poster_path
    : '/images/no-img.jpg' %>"
        class="card-img-top"
        alt="Movie-poster"
      />

      <div
        class="modal fade"
        id="wishlist-info<%= i %>"
        aria-hidden="true"
        aria-labelledby="wishlist-info-label"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="wishlist-info-label">Modal 1</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body modal-flex">
              <div
                class="card mb-3 <%= reviews.some(el => el.Movie_id === initialData[i].Movie_id && reviews.length > 0) ? 'review-space': '' %>"
              >
                <div>
                  <img
                    src="<%= initialData[i].Poster_path 
                && initialData[i].Poster_path !== null
              && initialData[i].Poster_path
              !== '' ? 
              'https://image.tmdb.org/t/p/original' + initialData[i].Poster_path
              : '/images/no-img.jpg' %>"
                    class="card-img-top"
                    alt="Movie-poster"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title fw-bolder fs-2"><%= initialData[i].MovieName %></h5>
                  <p class="card-text">
                    <%= initialData[i].Movie_description %>
                  </p>
                </div>
              </div>

              <!-- working here -->
              <% if (Array.isArray(reviews) && reviews.length > 0) { %>
              <div
                class="review-container mb-3 <%= reviews.some(el => el.Movie_id === initialData[i].Movie_id && reviews.length > 0) ? 'review-space': '' %>"
                id="reviews-container"
              >
                <% reviews.forEach(review => { %> <% if (review.Author &&
                review.Movie_id === initialData[i].Movie_id) { %>
                <div class="card mb-3 mx-3">
                  <div class="card-body">
                    <h1 class="fs-5">Author: <%= review.Author.username %></h1>
                    <p
                      class="starability-result"
                      data-rating="<%= review.Ratings %>"
                    >
                      Rated: <%= review.Ratings %> stars
                    </p>
                    <p class="card-text">Comment: <%= review.Comment %></p>
                  </div>
                </div>
                <% } %> <% }) %>
                <button class="btn btn-primary mx-3" id="view-more">
                  View More
                </button>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <a
        class="card-details d-flex justify-content-center align-items-center"
        data-bs-toggle="modal"
        href="#wishlist-info<%= i %>"
        role="button"
        id="show-info"
      >
        <span class="material-symbols-outlined mx-2"> info </span>
        Show Info</a
      >

      <div class="card-review" role="button">
        <button
          class="card-review-button d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#wishlist-review-modal<%= i %>"
          data-bs-whatever="@getbootstrap"
          id="review-button<%= i %>"
        >
          <span class="material-symbols-outlined"> star </span>
          Review
        </button>

        <!-- modal for review -->
        <div
          class="modal fade"
          id="wishlist-review-modal<%= i %>"
          tabindex="-1"
          aria-labelledby="movie-review"
          aria-hidden="true"
        >
          <form
            action="/add_review"
            method="post"
            class="modal-dialog"
            enctype="multipart/form-data"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="movie-review">
                  Write a review for <%= initialData[i].MovieName %>
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="movie_id">Movie id</label>
                    <input
                      class="form-control"
                      type="text"
                      name="Movie_id"
                      value="<%= initialData[i].Movie_id %>"
                      readonly
                      id="movie_id"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="movie_description">Movie Description</label>
                    <input
                      class="form-control text-truncate"
                      type="text"
                      name="Movie_description"
                      value="<%= initialData[i].Movie_description %>"
                      readonly
                      id="movie_description"
                    />
                  </div>

                  <div class="mb-3 no-view">
                    <label for="movie_poster">Movie Poster</label>
                    <input
                      class="form-control"
                      type="text"
                      name="Movie_poster"
                      value="<%= initialData[i].Poster_path %>"
                      readonly
                      id="movie_poster"
                    />
                  </div>

                  <div class="mb-3 no-view">
                    <label for="movie_name">Movie name</label>
                    <input
                      class="form-control"
                      type="text"
                      name="Movie_name"
                      value="<%= initialData[i].MovieName %>"
                      readonly
                      id="movie_name"
                    />
                  </div>

                  <div class="mb-3">
                    <fieldset class="starability-grow">
                      <legend>rating:</legend>
                      <input
                        type="radio"
                        id="trending-no-rate<%= i %>"
                        class="input-no-rate"
                        name="rating"
                        value="1"
                        aria-label="No rating."
                        max="5"
                      />

                      <input
                        type="radio"
                        id="trending-rate1<%= i %>"
                        name="rating"
                        value="1"
                        checked
                      />
                      <label for="trending-rate1<%= i %>">1 star.</label>

                      <input
                        type="radio"
                        id="trending-rate2<%= i %>"
                        name="rating"
                        value="2"
                      />
                      <label for="trending-rate2<%= i %>">2 stars.</label>

                      <input
                        type="radio"
                        id="trending-rate3<%= i %>"
                        name="rating"
                        value="3"
                      />
                      <label for="trending-rate3<%= i %>">3 stars.</label>

                      <input
                        type="radio"
                        id="trending-rate4<%= i %>"
                        name="rating"
                        value="4"
                      />
                      <label for="trending-rate4<%= i %>">4 stars.</label>

                      <input
                        type="radio"
                        id="trending-rate5<%= i %>"
                        name="rating"
                        value="5"
                      />
                      <label for="trending-rate5<%= i %>">5 stars.</label>

                      <span class="starability-focus-ring"></span>
                    </fieldset>
                  </div>

                  <div class="mb-3">
                    <label for="message-text" class="col-form-label"
                      >Comment:</label
                    >
                    <textarea
                      class="form-control"
                      id="message-text"
                      name="comment"
                      placeholder="Enter comment"
                    ></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button class="btn btn-success">Drop Review</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <form
        action="/remove_fromwishlist"
        method="post"
        class="card-review"
        enctype="multipart/form-data"
      >
        <input
          type="text"
          class="d-none"
          name="Movie_id"
          id=""
          value="<%= initialData[i].Movie_id %>"
        />
        <input
          type="text"
          class="d-none"
          name="MovieName"
          id=""
          value="<%= initialData[i].MovieName %>"
        />
        <input
          type="text"
          class="d-none"
          name="Poster_path"
          id=""
          value="<%= initialData[i].Poster_path %>"
        />
        <button class="card-wishlist-btn d-flex justify-content-center">
          <span class="material-symbols-outlined mx-2">delete</span>
          Remove Item
        </button>
      </form>
    </div>
    <% } %>
  </div>

  <div class="d-flex justify-content-center align-items-center w-100">
    <button class="button shadow fw-bolder" id="load-more">Load More</button>
  </div>
</section>
<%} else{ %>
<section
  class="wishlists px-4 py-4 d-flex justify-content-center align-items-center"
>
  <h1>No More items to display</h1>
</section>
<%} %>

<section
  class="search-section d-flex flex-wrap justify-content-center px-5 py-3 rounded-3 d-none"
  id="search-section"
></section>

<script>
   const headerData = <%- JSON.stringify(data1)%>;
  const moreData = <%- JSON.stringify(initialData) %>;
  const mainData = <%- JSON.stringify(item) %>;
  const reviewItems = <%- JSON.stringify(reviews) %>;
  const values = <%- JSON.stringify(item) %>;
  const totalItems = <%- totalItems %>;
  const items_per_page = <%- items_per_page %>;
  const user = <%- JSON.stringify(usr) %>;
</script>

<script src="/Javascripts/moreInfo.js"></script>
<script src="/Javascripts/wishlists.js"></script>
<script src="/Javascripts/wishlist-search.js"></script>
