<% layout("layouts/boilerplate") %>

<h1><%= item.title %></h1>
<hr />
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%= item.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%= item.title%></h5>
        <p class="card-text"><%= item.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= item.location%></li>
        <li class="list-group-item">$<%= item.price%>/night</li>
      </ul>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/campgrounds/<%=item._id%>/edit"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%=item._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</div>

<!-- <h1><%= item.location%></h1>

<a href="/campgrounds/<%=item.id %>/edit"> Edit </a>

<form action="/campgrounds/<%=item._id%>?_method=DELETE" method="post">
  <button href="campgrounds/<%=item.id %>">Delete</button>
</form>

<footer>
  <a href="/campgrounds">Back</a>
</footer> -->
